<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="muffin-wallet"/>

    <property name="LOG_PATH" value="${LOG_PATH:-/logs}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service":"${APP_NAME}",
                        "level":"%level",
                        "logLevel":"%level",
                        "traceId":"%X{traceId:-}",
                        "spanId":"%X{spanId:-}"
                        }
                    </pattern>
                </pattern>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <arguments/>

                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>

            </providers>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service":"${APP_NAME}",
                        "level":"%level",
                        "logLevel":"%level",
                        "traceId":"%X{traceId:-}",
                        "spanId":"%X{spanId:-}"
                        }
                    </pattern>
                </pattern>

                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>

                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>

                <message>
                    <fieldName>message</fieldName>
                </message>

                <arguments/>

                <stackTrace>
                    <fieldName>stackTrace</fieldName>
                </stackTrace>

            </providers>
        </encoder>
    </appender>

    <logger name="http.access" level="INFO" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

</configuration>
